
*{
	
	margin: 0;
	padding: 0;
	font-family: myFirstFont;

}
.navbar{

	width: 300%;
	height: 100px;
	background-color: black;
	position: fixed;
	
}
  .container{
	width: 100%;
	height: 100%;

} 


header{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../photo/13.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: left;
	list-style-type: none;
	margin-top: 40px;
	padding-right: 50px;
	font-weight: bold;
	font-size: 17px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color:#ded8d3;
	padding: 8px 7px;
	transition: 0.6s ease;
	

}
ul li a:hover{
	background: #9999ff;
	color: #000;
}

  .head{
	float:left;
	font-family: ;
	margin: 10px;
	margin-left: 40px;
	font-size: 55px;
	color:#ded8d3;

	}
	.head2{
	background-color:#0009;
	width: 100%;
	height: 120px;
	float:left;
	font-family: ;
	margin:center;
	font-size: 50px;
	color:#ded8d3;

	}





@media{
	 
	  .carousel-inner .active,
	  .carousel-inner .active + .carousel-item,
	  .carousel-inner .active + .carousel-item + .carousel-item,
	.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
		    display: block;
			  text-align: center;
	}
	
	}


.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
	      transition: none;
}


.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	    position: relative;
	    transform: translate3d(0, 0, 0);
}


.active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	      position: relative;
	      transform: translate3d(-100%, 0, 0);
	      visibility: visible;

}



.carousel-inner .carousel-item-prev.carousel-item-right {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	    display: block;
	    visibility: visible;

}



.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	      position: relative;
	      transform: translate3d(100%, 0, 0);
	      visibility: visible;
	      display: block;
	      
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 12%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}